.intro {
  /* background-image: url('/assets/images/architecture-hand.jpg'); */
  background-image: url('https://images.pexels.com/photos/380283/pexels-photo-380283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
}